<% include ../partials/header %>
<form action="/users/<%= user.id %>?_method=PUT" method="POST"> 
	<div>
		<label for="name">User Name: </label>
		<input type="text" name="user[name]" class="form-control" value="<%= user.name %>" autofocus>
	</div>
	<div>
		<label for="avatar">Avatar:</label>
		<input type="text" name="user[avatar]" id="" class="form-control" value="<%= user.avatar %>">
	</div>
	<div>
		<label for="score">Score:</label>
		<input type="text" name="user[score]" id="" class="form-control" value="<%= user.score %>">
	</div>
	<div>
		<p></p>
	</div>
	<div class="form-group">
	  <input type="submit" value="Done" class ="btn btn-info">
	</div>
</form>

<% include ../partials/footer %>