<% include ../partials/header %>

<div>
	<label for="users">User One - Name: </label>
	<input type="text" name="score[userOneName]" id="users" class="form-control">
</div>

<% include ../partials/footer %>