<% include ../partials/header %>
<h1>Name the Beat</h1>

<form action="users/new" method="GET">
<div>
	<h2>Users</h2>
</div>

<div>
	<p>A list of all users will be displayed here.</p>
</div>

<div> 
  <input type="submit" value="New User" class="btn btn-primary">
</div>
</form>

<% include ../partials/footer %>